# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Logs
*.log

# Cache
.cache/
.temp/

# Coverage
coverage/

# Misc
*.pid
*.seed